.list-group-item {
  line-height: 2.5;
}
body {
  background-image: url(bck.jpg);
  background-size: 1450px;
}
h1 {
  text-align: center;
  color: aliceblue;
}
label {
  color: aliceblue;
}
#home {
  margin: 20px;
  float: right;
  width: 600px;
}
nav {
  background-image: url(bck.jpg);
}
/* .container {
  height: 00px;
  width: 500px;
} */
#login {
  width: 500px;
  margin-left: 900px;
}
.card {
  width: 500px;
  float: right;
  margin: 30px;
  margin-top: 10px;
  height: 480px;
}
